Reportes Diarios CORREGIDO.json
{
  "name": "Reportes Diarios CORREGIDO",
  "nodes": [
    {
      "parameters": {
        "amount": 10
      },
      "id": "cfca20e3-fddd-4501-a202-f82b7c445733",
      "name": "Esperar_Calculo_Corregido",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        480,
        4560
      ],
      "webhookId": "776fa633-8849-4085-8d8f-27575a2883e7",
      "notes": "CORRECCIÓN DEL FLUJO 5: Reemplaza la espera por 'amount' con una espera de 5 segundos. Esto da tiempo suficiente a Google Sheets para ejecutar las fórmulas de cálculo que dependen de las fechas recién escritas."
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "c9f3843b-41f3-4af7-801d-d6f3c1b441b3",
      "name": "Schedule Trigger1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -592,
        4624
      ],
      "notes": "Activador programado para iniciar la generación de reportes diariamente a las 8 AM."
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1pW8HQfwVktFciy89JqX4fy_PHOjrVt6axMbvGSDS_20",
          "mode": "list",
          "cachedResultName": "Base_de_Datos_Comerciantes_N8N_READY.xlsx",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pW8HQfwVktFciy89JqX4fy_PHOjrVt6axMbvGSDS_20/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 276147437,
          "mode": "list",
          "cachedResultName": "Configuracion_Maestra",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pW8HQfwVktFciy89JqX4fy_PHOjrVt6axMbvGSDS_20/edit#gid=276147437"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "A1:F10"
            }
          }
        }
      },
      "id": "a8724ae7-eee2-426d-90de-867210d59696",
      "name": "Leer_Configuracion_Maestra1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -416,
        4632
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wUVftySWEDfOG2lY",
          "name": "Google Sheets account"
        }
      },
      "notes": "Lee la hoja de control 'Reporte_Plano' para obtener la lista de comerciantes y la Fecha_Ultimo_Reporte para cada uno."
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst comerciantes = [];\nconst claveIDComerciante = 'ID_Comerciante';\n\n// Función auxiliar para acceder a la clave sin importar mayúsculas/minúsculas\nconst getValueCaseInsensitive = (json, key) => {\n  const lowerKey = key.toLowerCase();\n  for (const jsonKey in json) {\n    if (jsonKey.toLowerCase().trim() === lowerKey.trim()) {\n      return json[jsonKey];\n    }\n  }\n  return undefined;\n};\n\n// --- FUNCIÓN SEGURA PARA PARSEAR FECHA (Maneja dd/mm/yyyy o yyyy-mm-dd) ---\nconst parseDate = (dateString) => {\n  if (!dateString) return null;\n  \n  const cleanString = dateString.toString().trim();\n  \n  // Si ya está en formato ISO (YYYY-MM-DD)\n  if (cleanString.includes('-') && cleanString.length === 10) {\n    const parts = cleanString.split('-');\n    return new Date(Date.UTC(parseInt(parts[0]), parseInt(parts[1]) - 1, parseInt(parts[2])));\n  }\n  \n  // Asumimos formato dd/mm/yyyy (formato Sudamérica de Google Sheets)\n  if (cleanString.includes('/') || cleanString.includes('.')) {\n    const separator = cleanString.includes('/') ? '/' : '.';\n    const parts = cleanString.split(separator).map(p => parseInt(p.trim()));\n    \n    // Date.UTC(año, mes(0-11), día)\n    if (parts.length === 3) {\n      // parts[2]=año, parts[1]-1=mes, parts[0]=día\n      return new Date(Date.UTC(parts[2], parts[1] - 1, parts[0]));\n    }\n  }\n  \n  return null;\n};\n// --------------------------------------\n\nconst comerciantePattern = /^C\\d+$/;\nconst FECHA_DEFAULT_INICIO_STR = '2025-01-01';\n\nfor (const item of items) {\n  const id = getValueCaseInsensitive(item.json, claveIDComerciante)?.toString().trim();\n\n  if (id && comerciantePattern.test(id)) {\n    // ✅ CORREGIDO: Buscar 'Fecha_Ultimo_Reporte' en lugar de 'FECHA_DESDE'\n    const fechaRaw = getValueCaseInsensitive(item.json, 'Fecha_Ultimo_Reporte')?.toString().trim();\n    const fechaUltimoReporte = fechaRaw || FECHA_DEFAULT_INICIO_STR;\n\n    comerciantes.push({\n      ID_Comerciante: id,\n      Nombre_Local: (getValueCaseInsensitive(item.json, 'Nombre_Local') || '').toString().trim(),\n      Email_Destino: (getValueCaseInsensitive(item.json, 'Email_Destino') || '').toString().trim(),\n      URL_Sheet_Datos: (getValueCaseInsensitive(item.json, 'URL_Sheet_Datos') || '').toString().trim(),\n      Fecha_Ultimo_Reporte: fechaUltimoReporte, \n      row_number: getValueCaseInsensitive(item.json, 'row_number')\n    });\n  }\n}\n\nconsole.log(`📊 Comerciantes encontrados: ${comerciantes.length}`);\n\nif (comerciantes.length === 0) {\n  throw new Error('❌ No se encontraron comerciantes. Verifica la hoja \"Configuracion_Maestra\".');\n}\n\n// Fechas de referencia (Hoy y Ayer)\nconst hoy = new Date();\nconst ayer = new Date(hoy);\nayer.setUTCHours(0, 0, 0, 0); \nayer.setUTCDate(ayer.getUTCDate() - 1); \n\nconst formatoSheet = (fecha) => {\n  const dia = fecha.getUTCDate().toString().padStart(2, '0');\n  const mes = (fecha.getUTCMonth() + 1).toString().padStart(2, '0');\n  const anio = fecha.getUTCFullYear();\n  return `${dia}/${mes}/${anio}`;\n};\n\nconst resultados = comerciantes.map(comerciante => {\n  // 1. Intentamos PARSEAR la fecha de control\n  let fechaUltimoReporteObj = parseDate(comerciante.Fecha_Ultimo_Reporte);\n\n  // 2. Si el parseo falla, usamos el default\n  if (!fechaUltimoReporteObj) {\n    const parts = FECHA_DEFAULT_INICIO_STR.split('-');\n    fechaUltimoReporteObj = new Date(Date.UTC(parseInt(parts[0]), parseInt(parts[1]) - 1, parseInt(parts[2])));\n  }\n\n  // 3. Calculamos la fecha de inicio del reporte (Último reporte + 1 día)\n  const fechaDesde = new Date(fechaUltimoReporteObj);\n  fechaDesde.setUTCDate(fechaDesde.getUTCDate() + 1);\n\n  // 4. Calculamos los días pendientes\n  const msPorDia = 1000 * 60 * 60 * 24;\n  const ayerMedianoche = ayer.getTime(); \n  const ultimoReporteMedianoche = fechaUltimoReporteObj.getTime();\n\n  const diasSinReportar = Math.floor((ayerMedianoche - ultimoReporteMedianoche) / msPorDia);\n  \n  console.log(`🔎 PROCESANDO ${comerciante.ID_Comerciante}:`);\n  console.log(` - Último Reporte: ${comerciante.Fecha_Ultimo_Reporte}`);\n  console.log(` - Fecha Desde: ${formatoSheet(fechaDesde)}`);\n  console.log(` - Días pendientes: ${diasSinReportar}`);\n\n  if (diasSinReportar <= 0) {\n    console.log(` ⏭️ SALTAR: Ya reportado`);\n    return null;\n  }\n\n  return {\n    ID_Comerciante: comerciante.ID_Comerciante,\n    Nombre_Local: comerciante.Nombre_Local,\n    Email_Destino: comerciante.Email_Destino,\n    Fecha_Desde: formatoSheet(fechaDesde),\n    Fecha_Hasta: formatoSheet(ayer),\n    Fecha_Hasta_ISO: ayer.toISOString().split('T')[0],\n    Dias_a_Reportar: diasSinReportar,\n    row_number: comerciante.row_number\n  };\n}).filter(Boolean);\n\nif (resultados.length === 0) {\n  throw new Error('⏭️ No hay reportes pendientes para procesar.');\n}\n\nreturn resultados;"
      },
      "id": "73bf5398-a3b3-472d-abab-a6cc982f19c9",
      "name": "Calcular_Fechas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        4632
      ],
      "notes": "Calcula de manera segura y en UTC la Fecha_Desde (último reporte + 1 día) y la Fecha_Hasta (Ayer). Filtra comerciantes sin reportes pendientes."
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e32b75bf-f1ed-4e2b-a455-53b0000d50a8",
      "name": "Loop_Comerciantes",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        32,
        4632
      ],
      "notes": "Divide los comerciantes que requieren reportes en lotes individuales (o uno a la vez) para procesar el flujo por separado."
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1pW8HQfwVktFciy89JqX4fy_PHOjrVt6axMbvGSDS_20",
          "mode": "list",
          "cachedResultName": "Base_de_Datos_Comerciantes_N8N_READY.xlsx",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pW8HQfwVktFciy89JqX4fy_PHOjrVt6axMbvGSDS_20/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 260377230,
          "mode": "list",
          "cachedResultName": "Reporte_Plano",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pW8HQfwVktFciy89JqX4fy_PHOjrVt6axMbvGSDS_20/edit#gid=260377230"
        },
        "options": {}
      },
      "id": "75b4af02-67fe-428c-abc9-3141fb03b8a3",
      "name": "Leer_Reporte_Plano1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        704,
        4560
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wUVftySWEDfOG2lY",
          "name": "Google Sheets account"
        }
      },
      "notes": "Lee la información de reportes planos, que ahora debería estar actualizada tras el cálculo en la hoja."
    },
    {
      "parameters": {
        "jsCode": "// Ver exactamente qué datos tenemos\nconsole.log('='.repeat(80));\nconsole.log('🔍 DEBUG - DATOS ANTES DE ACTUALIZAR');\nconsole.log('='.repeat(80));\n\nconst items = $input.all();\n\nconsole.log(`\\n📊 Número de items recibidos: ${items.length}`);\n\nif (items.length === 0) {\n  console.log('⚠️ NO HAY ITEMS - Verifica el nodo anterior');\n  return items;\n}\n\n// Tomar el primer item\nconst datos = items[0].json;\n\nconsole.log('\\n📋 Datos recibidos:');\nconsole.log(JSON.stringify(datos, null, 2));\n\nconsole.log('\\n🔍 Campos específicos:');\nconsole.log('  ID_COMERCIANTE:', datos.ID_COMERCIANTE || datos.ID_Comerciante);\nconsole.log('  FECHA_HASTA:', datos.FECHA_HASTA);\nconsole.log('  FECHA_HASTA_ISO:', datos.FECHA_HASTA_ISO);\nconsole.log('  Email_Destino:', datos.Email_Destino);\nconsole.log('  Nombre_Local:', datos.Nombre_Local);\n\n// Verificar si FECHA_HASTA existe\nif (!datos.FECHA_HASTA && !datos.Fecha_Hasta) {\n  console.log('\\n❌ ERROR: FECHA_HASTA no existe');\n}\n\n// Verificar si FECHA_HASTA_ISO existe\nif (!datos.FECHA_HASTA_ISO && !datos.Fecha_Hasta_ISO) {\n  console.log('\\n❌ ERROR: FECHA_HASTA_ISO no existe');\n}\n\nconsole.log('='.repeat(80));\n\n// Pasar los datos sin modificar\nreturn items;"
      },
      "id": "6cc8c1dc-30a4-4309-a214-3b92238a6e8e",
      "name": "DEBUG_Ver_Datos1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        4560
      ],
      "notes": "Nodo de depuración: verifica que los campos clave, especialmente FECHA_HASTA_ISO, estén presentes antes de la actualización de la base de datos."
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1pW8HQfwVktFciy89JqX4fy_PHOjrVt6axMbvGSDS_20",
          "mode": "list",
          "cachedResultName": "Base_de_Datos_Comerciantes_N8N_READY.xlsx",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pW8HQfwVktFciy89JqX4fy_PHOjrVt6axMbvGSDS_20/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 276147437,
          "mode": "list",
          "cachedResultName": "Configuracion_Maestra",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pW8HQfwVktFciy89JqX4fy_PHOjrVt6axMbvGSDS_20/edit#gid=276147437"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID_Comerciante": "={{ $json['ID_Comerciante:'] }}",
            "Fecha_Ultimo_Reporte": "={{ $json['Fecha_Hasta_ISO:'] }}"
          },
          "matchingColumns": [
            "ID_Comerciante"
          ],
          "schema": [
            {
              "id": "ID_Comerciante",
              "displayName": "ID_Comerciante",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nombre_Local",
              "displayName": "Nombre_Local",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email_Destino",
              "displayName": "Email_Destino",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "URL_Sheet_Datos",
              "displayName": "URL_Sheet_Datos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Fecha_Ultimo_Reporte",
              "displayName": "Fecha_Ultimo_Reporte",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "a5cfffb8-1d14-4a07-a13e-09b5b07c5eb2",
      "name": "Actualizar_Fecha_Ultimo_Reporte1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1824,
        4632
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wUVftySWEDfOG2lY",
          "name": "Google Sheets account"
        }
      },
      "notes": "Actualiza la hoja 'Configuracion_Maestra' con la Fecha_Hasta_ISO, asegurando que el flujo sepa dónde comenzar el próximo reporte."
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -656,
        4400
      ],
      "id": "33aff7de-0ce2-46fb-ae5b-eec3fa061436",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1pW8HQfwVktFciy89JqX4fy_PHOjrVt6axMbvGSDS_20/values/Reporte_Diario!B3:B5?valueInputOption=RAW",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsTriggerOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"values\": [\n    [\"{{$json.ID_Comerciante}}\"],\n    [\"{{$json.Fecha_Desde}}\"],\n    [\"{{$json.Fecha_Hasta}}\"]\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        256,
        4560
      ],
      "id": "cf0a8c92-51e0-436e-bbfc-b12e24a5ed6b",
      "name": "Escribir_Fechas1",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "KjOvFCwIht1eeRwP",
          "name": "Google Sheets Trigger account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email_Destino }}",
        "subject": "Aquì tu Reporte del Dia ",
        "message": "=={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1376,
        4560
      ],
      "id": "d1c6be6b-91df-472c-b5f1-68a97ff8c636",
      "name": "Enviar_Mensaje",
      "webhookId": "2080c9e3-3178-4f00-9ad0-ffa6eb79e7eb",
      "credentials": {
        "gmailOAuth2": {
          "id": "tZKZ8j8HhuxvBSZF",
          "name": "Gmail account"
        }
      },
      "notes": "Envía el reporte diario al email del comerciante."
    },
    {
      "parameters": {
        "jsCode": "// 1. OBTENER INPUTS\nconst items = $input.all();\nconst comerciante = $('Loop_Comerciantes').item.json;\n\n// 2. FUNCIONES DE AYUDA\nconst limpiar = (valor) => {\n  if (!valor) return '';\n  return valor.toString().replace(/^=+/, '').trim();\n};\n\nconst parsearNumero = (valor) => {\n  if (typeof valor === 'number') return valor;\n  if (!valor) return 0;\n  const numero = parseFloat(valor);\n  return isNaN(numero) ? 0 : numero;\n};\n\n// 3. GENERAR HTML\nreturn items.map(item => {\n  const datos = item.json;\n  \n  // Convertir a números\n  const netoDia = parsearNumero(datos.NETO_DIA);\n  const ingresos = parsearNumero(datos.INGRESOS_TOTALES);\n  const egresos = parsearNumero(datos.EGRESOS_TOTALES);\n  const efectivo = parsearNumero(datos.EFECTIVO_CAJA);\n  const digital = parsearNumero(datos.PAGO_DIGITAL);\n  const cxc = parsearNumero(datos.CUENTAS_POR_COBRAR);\n  \n  // Calcular días del reporte\n  const fechaDesde = new Date(comerciante.Fecha_Desde.split('/').reverse().join('-'));\n  const fechaHasta = new Date(comerciante.Fecha_Hasta.split('/').reverse().join('-'));\n  const diasReporte = Math.ceil((fechaHasta - fechaDesde) / (1000 * 60 * 60 * 24)) + 1;\n  \n  // Mensaje motivador según el neto\n  let mensajeEjecutivo = '';\n  let iconoEjecutivo = '';\n  if (netoDia > 0) {\n    iconoEjecutivo = '✅';\n    mensajeEjecutivo = `¡Felicidades! Tu negocio generó ganancias en este período.`;\n  } else if (netoDia < 0) {\n    iconoEjecutivo = '⚠️';\n    mensajeEjecutivo = `Este período tuvo un resultado negativo. Revisa tus gastos para mejorar la rentabilidad.`;\n  } else {\n    iconoEjecutivo = '➖';\n    mensajeEjecutivo = `Este período cerró en punto de equilibrio (sin ganancias ni pérdidas).`;\n  }\n\n  const html = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <style>\n    body { \n      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n      line-height: 1.6; \n      color: #333; \n      background-color: #f5f5f5;\n      margin: 0;\n      padding: 0;\n    }\n    .container { \n      max-width: 650px; \n      margin: 20px auto; \n      background: #fff; \n      border-radius: 12px; \n      overflow: hidden; \n      box-shadow: 0 4px 15px rgba(0,0,0,0.1); \n    }\n    .header { \n      background: linear-gradient(135deg, #2E7D32 0%, #1B5E20 100%);\n      color: white; \n      padding: 35px 25px; \n      text-align: center; \n    }\n    .header h1 { \n      margin: 0; \n      font-size: 28px; \n      font-weight: 600;\n      text-shadow: 0 2px 4px rgba(0,0,0,0.2);\n    }\n    .header .nombre-comerciante { \n      font-size: 20px; \n      font-weight: 500; \n      margin: 10px 0 5px;\n    }\n    .header .periodo { \n      font-size: 14px; \n      opacity: 0.9;\n      margin: 5px 0 0;\n    }\n    .content { \n      padding: 25px; \n    }\n    .resumen-ejecutivo {\n      background: ${netoDia >= 0 ? '#E8F5E9' : '#FFEBEE'};\n      border-left: 4px solid ${netoDia >= 0 ? '#2E7D32' : '#C62828'};\n      padding: 20px;\n      margin-bottom: 25px;\n      border-radius: 8px;\n    }\n    .resumen-ejecutivo h2 {\n      margin: 0 0 10px;\n      font-size: 18px;\n      color: ${netoDia >= 0 ? '#1B5E20' : '#B71C1C'};\n    }\n    .resumen-ejecutivo .neto-grande {\n      font-size: 32px;\n      font-weight: bold;\n      color: ${netoDia >= 0 ? '#2E7D32' : '#C62828'};\n      margin: 10px 0;\n    }\n    .resumen-ejecutivo .mensaje {\n      font-size: 14px;\n      color: #555;\n      margin-top: 10px;\n    }\n    .summary { \n      margin-bottom: 25px; \n      border: 1px solid #e0e0e0; \n      border-radius: 8px; \n      overflow: hidden;\n      background: #fff;\n    }\n    .summary-header { \n      background-color: #f8f9fa; \n      padding: 12px 18px; \n      border-bottom: 2px solid #2E7D32; \n      font-weight: 600; \n      color: #2E7D32;\n      font-size: 16px;\n    }\n    table { \n      width: 100%; \n      border-collapse: collapse; \n    }\n    td { \n      padding: 14px 18px; \n      border-bottom: 1px solid #f5f5f5; \n    }\n    tr:last-child td { \n      border-bottom: none; \n    }\n    tr:hover {\n      background-color: #fafafa;\n    }\n    .amount { \n      font-family: 'Courier New', monospace; \n      font-size: 1.1em; \n      font-weight: 600; \n    }\n    .positive { \n      color: #2E7D32; \n    }\n    .negative { \n      color: #C62828; \n    }\n    .label { \n      color: #666; \n      font-size: 14px;\n    }\n    .detalle-texto {\n      padding: 18px;\n      font-size: 14px;\n      color: #555;\n      line-height: 1.8;\n      background-color: #fafafa;\n    }\n    .separador {\n      height: 1px;\n      background: linear-gradient(to right, transparent, #e0e0e0, transparent);\n      margin: 30px 0;\n    }\n    .footer { \n      background: linear-gradient(135deg, #263238 0%, #37474F 100%);\n      color: #B0BEC5; \n      padding: 30px 25px; \n      font-size: 13px;\n      line-height: 1.8;\n    }\n    .footer-agencia {\n      background-color: rgba(255,255,255,0.05);\n      padding: 20px;\n      border-radius: 8px;\n      margin-bottom: 20px;\n    }\n    .footer-agencia h3 {\n      color: #fff;\n      margin: 0 0 10px;\n      font-size: 16px;\n      font-weight: 600;\n    }\n    .footer-agencia p {\n      margin: 5px 0;\n      color: #B0BEC5;\n    }\n    .footer-agencia a {\n      color: #81C784;\n      text-decoration: none;\n    }\n    .footer-agencia a:hover {\n      text-decoration: underline;\n    }\n    .footer-sistema {\n      text-align: center;\n      font-size: 12px;\n      color: #78909C;\n      margin-top: 15px;\n      padding-top: 15px;\n      border-top: 1px solid rgba(255,255,255,0.1);\n    }\n    .mobile-hide {\n      display: inline;\n    }\n    .mobile-show {\n      display: none;\n    }\n    \n    /* ESTILOS RESPONSIVE MEJORADOS */\n    @media only screen and (max-width: 600px) {\n      .container { \n        margin: 10px; \n        border-radius: 8px; \n      }\n      .header {\n        padding: 25px 20px;\n      }\n      .header h1 { \n        font-size: 24px; \n      }\n      .header .nombre-comerciante {\n        font-size: 18px;\n      }\n      .header .periodo {\n        font-size: 13px;\n      }\n      .content {\n        padding: 20px 15px;\n      }\n      .resumen-ejecutivo {\n        padding: 15px;\n      }\n      .resumen-ejecutivo h2 {\n        font-size: 16px;\n      }\n      .resumen-ejecutivo .neto-grande {\n        font-size: 28px;\n      }\n      .summary-header {\n        padding: 10px 15px;\n        font-size: 15px;\n      }\n      td {\n        padding: 12px 15px;\n        font-size: 13px;\n      }\n      .label {\n        font-size: 13px;\n        word-break: break-word;\n        line-height: 1.4;\n      }\n      .amount {\n        font-size: 1em;\n        white-space: nowrap;\n      }\n      table {\n        table-layout: fixed;\n      }\n      td:first-child {\n        width: 55%;\n      }\n      td:last-child {\n        width: 45%;\n        text-align: right !important;\n      }\n      .mobile-hide {\n        display: none;\n      }\n      .mobile-show {\n        display: inline;\n      }\n      .detalle-texto {\n        padding: 15px;\n        font-size: 13px;\n      }\n      .footer {\n        padding: 25px 20px;\n      }\n      .footer-agencia {\n        padding: 15px;\n      }\n      .footer-agencia h3 {\n        font-size: 15px;\n      }\n      .footer-agencia p {\n        font-size: 12px;\n      }\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    \n    <!-- HEADER -->\n    <div class=\"header\">\n      <h1>📊 Reporte Diario</h1>\n      <p class=\"nombre-comerciante\">${limpiar(comerciante.Nombre_Local)}</p>\n      <p class=\"periodo\">📅 Del ${comerciante.Fecha_Desde} al ${comerciante.Fecha_Hasta} (${diasReporte} ${diasReporte === 1 ? 'día' : 'días'})</p>\n    </div>\n    \n    <div class=\"content\">\n      \n      <!-- RESUMEN EJECUTIVO -->\n      <div class=\"resumen-ejecutivo\">\n        <h2>${iconoEjecutivo} Resumen Ejecutivo</h2>\n        <div class=\"neto-grande\">\n          $${netoDia.toLocaleString('es-AR', {minimumFractionDigits: 2})}\n        </div>\n        <div style=\"font-size: 14px; color: #666;\">Neto del Período</div>\n        <div class=\"mensaje\">${mensajeEjecutivo}</div>\n      </div>\n\n      <!-- RESUMEN FINANCIERO -->\n      <div class=\"summary\">\n        <div class=\"summary-header\">💰 Resumen Financiero</div>\n        <table>\n          <tr>\n            <td class=\"label\">Ingresos Totales</td>\n            <td class=\"amount positive\" style=\"text-align: right;\">\n              $${ingresos.toLocaleString('es-AR', {minimumFractionDigits: 2})}\n            </td>\n          </tr>\n          <tr>\n            <td class=\"label\">Egresos Totales</td>\n            <td class=\"amount negative\" style=\"text-align: right;\">\n              -$${Math.abs(egresos).toLocaleString('es-AR', {minimumFractionDigits: 2})}\n            </td>\n          </tr>\n          <tr style=\"background-color: ${netoDia >= 0 ? '#E8F5E9' : '#FFEBEE'};\">\n            <td class=\"label\" style=\"font-weight: bold; font-size: 15px;\">Neto del Período</td>\n            <td class=\"amount ${netoDia >= 0 ? 'positive' : 'negative'}\" style=\"text-align: right; font-size: 1.2em;\">\n              $${netoDia.toLocaleString('es-AR', {minimumFractionDigits: 2})}\n            </td>\n          </tr>\n        </table>\n      </div>\n\n      <!-- DESGLOSE DE INGRESOS CON TEXTOS ADAPTATIVOS -->\n      <div class=\"summary\">\n        <div class=\"summary-header\">💵 Desglose de Ingresos</div>\n        <table>\n          <tr>\n            <td class=\"label\">\n              <span class=\"mobile-hide\">💵 Efectivo en Caja</span>\n              <span class=\"mobile-show\">💵 Efectivo</span>\n            </td>\n            <td class=\"amount\" style=\"text-align: right;\">\n              $${efectivo.toLocaleString('es-AR', {minimumFractionDigits: 2})}\n            </td>\n          </tr>\n          <tr>\n            <td class=\"label\">\n              <span class=\"mobile-hide\">💳 Pago Digital (Transferencia/Tarjeta)</span>\n              <span class=\"mobile-show\">💳 Digital</span>\n            </td>\n            <td class=\"amount\" style=\"text-align: right;\">\n              $${digital.toLocaleString('es-AR', {minimumFractionDigits: 2})}\n            </td>\n          </tr>\n          <tr>\n            <td class=\"label\">\n              <span class=\"mobile-hide\">📝 Cuentas por Cobrar (Fiado)</span>\n              <span class=\"mobile-show\">📝 Por Cobrar</span>\n            </td>\n            <td class=\"amount\" style=\"text-align: right;\">\n              $${cxc.toLocaleString('es-AR', {minimumFractionDigits: 2})}\n            </td>\n          </tr>\n        </table>\n      </div>\n\n      <!-- DETALLE DE INGRESOS -->\n      ${datos.DESGLOSE_INGRESOS && typeof datos.DESGLOSE_INGRESOS === 'string' && datos.DESGLOSE_INGRESOS.trim() !== '' ? `\n      <div class=\"summary\">\n        <div class=\"summary-header\">📋 Detalle de Ingresos</div>\n        <div class=\"detalle-texto\">\n          ${datos.DESGLOSE_INGRESOS.replace(/\\n/g, '<br>')}\n        </div>\n      </div>\n      ` : ''}\n\n      <!-- GASTOS DETALLADOS -->\n      ${datos.GASTOS_DETALLADOS && typeof datos.GASTOS_DETALLADOS === 'string' && datos.GASTOS_DETALLADOS.trim() !== '' ? `\n      <div class=\"summary\">\n        <div class=\"summary-header\">💸 Gastos Detallados</div>\n        <div class=\"detalle-texto\">\n          ${datos.GASTOS_DETALLADOS.replace(/\\n/g, '<br>')}\n        </div>\n      </div>\n      ` : ''}\n\n      <div class=\"separador\"></div>\n\n      <!-- MENSAJE DE AYUDA -->\n      <div style=\"text-align: center; color: #666; font-size: 13px; padding: 10px;\">\n        💡 ¿Necesitas ayuda con tu negocio? Contáctanos para asesoramiento personalizado.\n      </div>\n\n    </div>\n    \n    <!-- FOOTER CON INFO DE AGENCIA -->\n    <div class=\"footer\">\n      \n      <div class=\"footer-agencia\">\n        <h3>🚀 Arnaldo Ayala - Estratega en IA y Marketing</h3>\n        <p>📧 Automatización de procesos y soluciones digitales para tu negocio</p>\n        <p>🌐 Sitio web: <a href=\"https://arnaldoayalaestratega.com\" target=\"_blank\">arnaldoayalaestratega.com</a></p>\n        <p>📱 WhatsApp: <a href=\"https://wa.me/5493765384843\" target=\"_blank\">+54 9 3765 38-4843</a></p>\n        <p style=\"margin-top: 12px; font-size: 12px; color: #90A4AE;\">\n          Diseño web • Campañas publicitarias • Automatización de procesos\n        </p>\n      </div>\n\n      <div class=\"footer-sistema\">\n        <p style=\"margin: 5px 0;\">Reporte generado automáticamente para: <strong>${limpiar(comerciante.ID_Comerciante)}</strong></p>\n        <p style=\"margin: 5px 0;\">© ${new Date().getFullYear()} Sistema de Reportes Diarios</p>\n      </div>\n      \n    </div>\n    \n  </div>\n</body>\n</html>\n  `;\n\n  return {\n    json: {\n      ...datos,\n      ID_Comerciante: limpiar(comerciante.ID_Comerciante),\n      Nombre_Local: limpiar(comerciante.Nombre_Local),\n      Email_Destino: limpiar(comerciante.Email_Destino),\n      Fecha_Desde: comerciante.Fecha_Desde,\n      Fecha_Hasta: comerciante.Fecha_Hasta,\n      html: html\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        4560
      ],
      "id": "9d7c0a70-55e9-40a6-a905-976b385d5f80",
      "name": "Generar_HTML_Email"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "46be6d2d-ec55-40cc-87e8-0b34bc80315b",
              "name": "ID_Comerciante:",
              "value": "={{ $('Loop_Comerciantes').item.json.ID_Comerciante }}",
              "type": "string"
            },
            {
              "id": "8be53b90-c169-41a9-a926-ce0bbc7d05da",
              "name": "Fecha_Hasta_ISO:",
              "value": "={{ $('Loop_Comerciantes').item.json.Fecha_Hasta_ISO }}",
              "type": "string"
            },
            {
              "id": "f04d66b4-92a1-443c-ba5c-58873e56b0b0",
              "name": "row_number:",
              "value": "={{ $('Loop_Comerciantes').item.json.row_number }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1600,
        4560
      ],
      "id": "f10b09f1-a973-4395-968d-219b5fd7b53c",
      "name": "Pasar_Datos_Loop\""
    }
  ],
  "pinData": {},
  "connections": {
    "Esperar_Calculo_Corregido": {
      "main": [
        [
          {
            "node": "Leer_Reporte_Plano1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Leer_Configuracion_Maestra1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer_Configuracion_Maestra1": {
      "main": [
        [
          {
            "node": "Calcular_Fechas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular_Fechas": {
      "main": [
        [
          {
            "node": "Loop_Comerciantes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop_Comerciantes": {
      "main": [
        [],
        [
          {
            "node": "Escribir_Fechas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer_Reporte_Plano1": {
      "main": [
        [
          {
            "node": "Generar_HTML_Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DEBUG_Ver_Datos1": {
      "main": [
        [
          {
            "node": "Enviar_Mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar_Fecha_Ultimo_Reporte1": {
      "main": [
        [
          {
            "node": "Loop_Comerciantes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        []
      ]
    },
    "Escribir_Fechas1": {
      "main": [
        [
          {
            "node": "Esperar_Calculo_Corregido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar_Mensaje": {
      "main": [
        [
          {
            "node": "Pasar_Datos_Loop\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar_HTML_Email": {
      "main": [
        [
          {
            "node": "DEBUG_Ver_Datos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pasar_Datos_Loop\"": {
      "main": [
        [
          {
            "node": "Actualizar_Fecha_Ultimo_Reporte1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "aef617a1-a96b-4fb7-9e0b-05b48464b25b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "131b4a9b2115ebba5fea15fd91696fb37668c68df2c0f044524f4dfa8663dfd6"
  },
  "id": "EsjRItQveO8L4cvo",
  "tags": [
    {
      "updatedAt": "2025-12-09T15:26:10.338Z",
      "createdAt": "2025-12-09T15:26:10.338Z",
      "id": "TbfaJxQIFcJM1o2s",
      "name": "MAESTRA"
    }
  ]
}